table.diff
	white-space: pre
	overflow: scroll

	.line
		padding-left: 20px

	.empty
		background-color: #DDD

	.replace
		background-color: #FDB

	.delete
		background-color: #FDD

	.skip
		background-color: #EFEFEF

	.insert
		background-color: #DFD
